/* Le reset en premier pour normaliser border, padding et les list-type */
@import url(reset.css);
/* Un Normalize importé d'un github : "@import url(reset.css);" pour assurer le fonctionnement sur un maximum de navigateurs */
@import url(normalize.css);
/* Importation des polices */
@import url(font.css);

/* Nommer les couleurs pour facilement les réutiliser et faciliter l'écriture du code */
:root {
    --blanc_casse: #F3e2c5;
    --marron: #420d09;
    --orange: #FFB11C;
}

* {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    box-sizing: border-box;
    color: white;
}

body {
    background-color: var(--marron);
}

nav {
    width: 100%;
    height: 15vw;
    background-color: var(--blanc_casse);
}

#nav_bar {
    display: flex;
}

/* seulement pour pc et tablette */
#title,
#nav_opener {
    display: none;
}

#logo_contain {
    width: 12%;
    height: auto;
    object-fit: contain;
}

#logo_contain img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 50px;
}

#nav_bar {
    height: 100%;
    width: 100%;
}

#nav_bar ul {
    display: flex;
    align-items: center;
    width: 80%;
    height: 100%;
    margin: 0% 0; /* vas à droite */
    padding: 0 0;
}

#nav_bar ul a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Morris;
    font-size: 3vw;
    color: black;
    padding: 0% 0 0% 0;
    border: 1px solid black;
    margin: 0% 10%;
    width: 50%;
    height: 50%;
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

/* On veut garder la sidebar pour la tablette as well */
@media screen and (min-width: 768px) {
    /* nav fixe hors de l'écran à gauche, se déplace en side bar gauche lors d'un clic sur flèche */
    nav {
        width: 20%;
        height: 100%;
        position: fixed;
        top: 0;
        left: -100%;
        background-color: #F3e2c5;
        z-index: 98;
        transition: ease-in-out 0.2s;
    }

    /* seulement pour pc et tablette */
#title,
#nav_opener {
    display: block;
}
    #nav_bar {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        width: unset;
        height: unset;
    }

    #logo_contain {
        margin: 0 25%;
        width: 50%;
    }

    #title {
        text-align: center;
        font-family: BlackChancery;
        font-size: x-large;
        color: black;
    }

    #nav_bar ul {
        display: flex;
        flex-direction: column;
        font-size: 1vw;
        align-content: center;
        flex-wrap: wrap;
    }

    #nav_bar ul a {
        padding: 3% 3%;
        border: 1px solid black;
        margin: 7.5% 0;
        width: 100%;
        border-radius: 50px;
    }

    #nav_bar ul a:hover {
        background-color: var(--orange);
        transition: 0.2s;
        box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
    }

    #nav_opener {
        font-size: 5vw;
        background-color: var(--blanc_casse); /* même fond que nav pour faire ressortir sur le fond du main */
        display: block;
        position: fixed; /* forcer le placement milieu vertical du bouton. */
        top: 50vh;
        left: -1.7%;
        color: black;
        border-radius: 40%;
        cursor: pointer;
        z-index: 100;
        transition: ease-in-out 0.2s;
    }

    #nav_opener:hover {
        background-color: var(--orange);
        transition: 0.2s;
        box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
    }

    /* Format après clic du bouton flèche */
    #nav.open {
        left: 0%;
        transition: ease-in-out.2s;
    }

    #nav_opener.open {
        left: 17.5%;
        transition: ease-in-out 0.2s;
        transform: rotate(-180deg);
    }
    #nav_bar ul a{
        font-size: 2vw;
    }
}
