/* Le reset en premier pour nonifier border,padding et les list-type*/
@import url(reset.css);
/* Un Normalize importé d'un github : "@import url(reset.css);" pour assurer le fonctionnement sur un maximum de navigateurs */
@import url(normalize.css);
/* Importation des polices */
@import url(font.css);
/* Import du style Footer */
@import url(footerStyle.css);

/* Nommage des couleurs pour réutilisation simple */

:root{
    --main_vert:#B5D0B4;
    --hover_vert:#9ae697;
    --main_bleu:#BDBBE2;
    --hover_bleu:#68a8e4;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*  **************************
            Header
***************************** */
header{
    height: 5vw
}

nav {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0em 1em 0em 1em;
    padding-top: 1em;
}

#nav div:first-of-type{
    width: 10vw;
    height: auto;
}

#nav div:first-of-type img{
    object-fit: contain;
    width: 100%;
}


/* Boutons alignés à droite avec léger espacement entre eux */

nav ul li{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
    background-color: var(--main_vert);
    width: 18%;
    height: 3.5vw;
    border-radius: 1vw;
    margin: 0.5em 2em 0.5em 2em;  /*marges gauche-droite pour régler l'espacement entre objet, lié avec marges ul*/
    border: 1px solid #8d8baf;
    box-shadow: 3px 3px 1.5px 0 rgba(0, 0, 0, 0.4);
}

nav ul li:hover{
    color: var(--hover_bleu);
    background-color: var(--hover_vert);
}

nav ul li a,a:visited{
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1vw;
}

.bx{
    font-size: calc(0.8em + 1vw);
    margin-right: 3%; /* espacer l'icone et le texte pour aérer le bloc */
}



/*  Navbar */

nav{
    font-size: calc(0.5rem + 1vw);
    margin-top: -0.6%;
}

nav ul{
    display: flex;
    justify-content: flex-end; /*Alignement à droite des boutons de navigation */
    width: 60%;
    margin: 0 0 0 15em; /* placement d'une marge droite pour mieux ajuster le header utilisateur connecté, invisible pour le header préco*/
}

/* Main Desktop = ici adaptation sur téléphone */
@media (max-width : 769px){
    header{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
    }


    #icons {
        display: block;
    }

    /* icone avant clic : menu burger*/
    #icons:before {
        content : "\2630";
    }

    /* icone après clic : Croix */
    .active #icons:before {
        content: "\2715";
    }

    /* modification pour responsif version phone */
    nav ul{
        position: fixed;
        left: -100%; /* sortir le bloc de l'affichage */
        top: 9%;
        flex-direction: column; /*Modifier l'agencement en colonne pour l'affichage téléphone */
        width: 100%;
        text-align: center;
        align-items: center;
        transition: 0.25s;
        background-color: rgba(128, 128, 128, 0.295); /* ajout d'un background-color pour *relever* le menu par dessus les autrse blocs et aider à la visibilité */
        margin: 0; /* annuler la marge du main pour ne pas gêner le placement responsif */
    }
    nav li{
        padding: 1% 0;
        margin: 0.5em 0 0.5em 0; /*ajustement des marges main faîte ici */

    }
    nav li:hover{
        background: rgb(170, 227, 250);
    }

    /*affichage du bloc menu-burger lors du clic */
    nav.active ul {
        left:0;
    }
}

/* *******************
        Main
*********************/

h1{
    text-align: center;
}