#image_inscription{
    position: relative;
    width: 100%;
    height: 50em;
    background-image: url(/projectSBM/Assets/Images_pour_fond/hands_big.png);
    background-size: cover;
    background-repeat: no-repeat;
}

#image_inscription button{
    position: absolute;
    background: linear-gradient(to bottom, #F7E4E4, #FFC4C4);
    width: 20%;
    height: 10%;
    border-radius: 12px;
    font-size: xx-large;
    color: #912A2A;
    transform: translate(-50%, -50%); /* pour faciliter le placement du bouton, on déplace l'ancrage par défaut du bloc (haut gauche) vers le milieu du bloc */
    top: 50%; /* déplacement vers le milieu de la div */
    left: 50%;
    z-index: 100; /* s'assurer que le bouton soit bien devant l'image */
}
