/* Le reset en premier pour nonifier border,padding et les list-type*/
@import url(./common/reset.css);
/* Un Normalize importé d'un github pour assurer le fonctionnement sur un maximum de navigateurs */
@import url(./common/normalize.css);
/* Importation des polices */
@import url(./common/font.css);
/* importation du style header */
@import url(./common/headerStyle.css);
/*importation du style footer */
@import url(./common/footerStyle.css);

/* Nommage des couleurs pour réutilisation simple */

:root {
    --main_vert: #B5D0B4;
    --hover_vert: #9ae697;
    --main_bleu: #BDBBE2;
    --hover_bleu: #68a8e4;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*  **************************
            Header
***************************** */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    /* position: fixed; */
    top: 0;
    z-index: 1000;
    flex-wrap: wrap;
    align-content: center;
}

.header_img:first-child {
    width: 40%;
    height: auto;
}

.header_img {
    object-fit: cover;
    margin: 1%;
}

.header_img>img {
    max-width: 100%;
}

main {
    width: 100%;
    background: linear-gradient(white 2%, #B5D0B4 5%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #000000;
    /* Couleur du texte */
    font-family: roboto;
}

.containerHistory {
    border: 1px solid black;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 5px 5px 5px black;
    width: 800px;
    padding: 20px;
    margin-bottom: 50px;
    margin-top: 75px;

}

.container {
    border: 1px solid black;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 5px 5px 5px black;
    width: 800px;
    padding: 20px;
    margin-bottom: 50px;
}

.homeImg {
    height: 800px;
    /* border: 1px solid white; */
    background-color: #fff;
    margin-bottom: 50px;
    width: 1200px;

    img {
        width: 1200px;
        height: 800px;
    }
}

div.registerYou {
    position: absolute;
    text-align: center;
    top: 900px;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    width: 200px;
    height: 50px;
}

div.registerYou:hover{
    cursor: pointer;
    color: var(--hover_bleu);
    background-color: var(--hover_vert);
}

h1 {
    text-align: center;
}

.menu {
    display: none;
    /* Par défaut, le menu est caché */
    position: absolute;
    flex-direction: column;
    flex-wrap: wrap;
    top: 60px;
    /* Ajustez la position en fonction de votre conception */
    right: 0;
    background-color: #fff;
    /* Ajoutez la couleur de fond que vous souhaitez */
    padding: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    /* Ajouter une transition pour l'effet d'apparition */
    transition: 0.3s ease-in-out;
    transform: translateX(100%);
    /* Déplacez le menu hors de l'écran à droite */
}

.menu-appear {
    /* Transformez le menu pour le faire apparaître depuis la droite */
    transition: 0.3s ease-in-out;
    transform: translateX(0);
}


/***********************
Tous les main par défaut
************************/


/**********************
Tableau de bord admin
***********************/

#TdB {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 80%;
    height: 80%;
    justify-content: center;
    margin: 0% 10%;
}

/* .nav_TdB {
    background-color: var(--main_vert);
    width: 18vw;
    height: 6vw;
    border-radius: 5px;
    box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.5);
    text-align: center;
    !important display: flex;
    align-items: center;
    justify-content: center;
    margin: 10% 13%;
    font-size: 2.2vw;
} */

.nav_TdB:hover {
    background-color: var(--hover_vert);
}

.nav_TdB:active {
    box-shadow: inset 3px 3px 3px 2px rgba(0, 0, 0, 0.5),
        3px 3px 3px 2px rgba(0, 0, 0, 0.5);
}

/* Main Desktop = ici adaptation sur téléphone */
@media (max-width : 768px) {
    header {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
    }

    #image_inscription a {
        background: linear-gradient(to bottom, #F7E4E4, #FFC4C4);
        width: 28%;
        height: 18%;
        border-radius: 12px;
        font-size: 4.7vw;
        /* passage de la taille en relatif-affichage pour assurer qu'elle ne sorte pas du bloc sur les petits affichages */
        color: #912A2A;
        text-align: center;
        /* aérer le bloc bouton inscription en version mobile */
        letter-spacing: 0.2vw;
        line-height: 135%;

    }

    nav {
        font-size: calc(0.5rem + 1vw);
        margin-top: -0.6%;
    }

    #icons {
        display: block;
    }

    /* icone avant clic : menu burger*/
    #icons:before {
        content: "\2630";
    }

    /* icone après clic : Croix */
    .active #icons:before {
        content: "\2715";
    }

    /* modification pour responsif version phone */
    nav ul {
        position: fixed;
        left: -100%;
        /* sortir le bloc de l'affichage */
        top: 9%;
        flex-direction: column;
        /*Modifier l'agencement en colonne pour l'affichage téléphone */
        width: 100%;
        text-align: center;
        align-items: center;
        transition: 0.25s;
        background-color: rgba(128, 128, 128, 0.295);
        /* ajout d'un background-color pour *relever* le menu par dessus les autrse blocs et aider à la visibilité */
        margin: 0;
        /* annuler la marge du main pour ne pas gêner le placement responsif */
    }

    nav li {
        padding: 1% 0;
        margin: 0.5em 0 0.5em 0;
        /*ajustement des marges main faîte ici */
    }

    nav li:hover {
        background: rgb(170, 227, 250);
    }

    nav ul li {
        /* Ajustement de la taille du bloc pour augmenter la taille de la police */
        width: 30%;
        height: 100%;
    }

    nav ul li a,
    a:visited {
        font-size: 3vw;
        /*augmentation de la taille pour vue sur téléphone */
    }

    /*affichage du bloc menu-burger lors du clic */
    nav.active ul {
        left: 0;
    }

    /****************
    Tableau de bord Admin
    ******************/

    #TdB {
        flex-direction: column;
        align-items: center;
    }

    .nav_TdB {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .containerHistory {
        border: 1px solid black;
        border-radius: 15px;
        box-shadow: 3px 3px 3px black;
        width: 300px;
        padding: 20px;
        margin-bottom: 50px;
        margin-top: 45px;

    }

    .container {
        border: 1px solid black;
        border-radius: 15px;
        box-shadow: 3px 3px 3px black;
        width: 300px;
        padding: 20px;
        margin-bottom: 50px;
    }

    .homeImg {
        border: 1px solid black;
        background-color: #fff;
        margin-bottom: 50px;
        width: 100%;
        height: 100%;


        img {
            width: 100%;
            height: 100%;
        }
    }

    div.registerYou {
        position: absolute;
        text-align: center;
        top: 900px;
        background-color: white;
        border: 1px solid black;
        border-radius: 10px;
        width: 200px;
        height: 25px;

    }


}