main {
    margin-top: 15vw;
    width: 100%;
    background: linear-gradient(to bottom, #ffffff, #bdbde2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #000000; /* Couleur du texte */
    font-family: roboto;
    }

section.mainWindow {
    display: flex;
    flex-direction: column;
    background-color: var(--main-blue);
    width: 70vh;
        height: 95vh;
    transform: translate(0, -15vh);
    border-radius: 10px;
    border: 1px solid black;

}

section.mainWindowCo {
    display: flex;
    flex-direction: column;
    background-color: var(--main-blue);
    width: 50vh;
    height: 95vh;
    transform: translate(0, -15vh);
    border-radius: 10px;
    border: 1px solid black;
  
         }

.mainTitle {
    display: flex;
    justify-content: center;
  }



form {
    width: fit-content; 
    max-width: 400px;
    margin: 0 auto;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input[type="text"],
  input[type="date"],
  input[type="email"],
  input[type="tel"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  input[type="submit"] {
    width: 100%;
    background-color: #B5D0B4;
    color: white;
    padding: 15px 20px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
  }