main {
  margin-top: 15vw;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #ffffff, #bdbde2);
  display: flex;
  justify-content: center;
  color: #000000;
  font-family: roboto;
}

section.themeList {
  display: flex;
  flex-direction: column;
  background-color: #b5d0b4;
  width: 20rem;
  height: 40rem;
  border-radius: 10px;
  border: 1px solid black;

  li {
    margin-bottom: 3rem;
  }
}

section.cardList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  background-color: #b5d0b4;
  margin-left: 15px;
  padding-left: 60px;
  width: 45rem;
  height: 40rem;
  border-radius: 10px;
  border: 1px solid black;

  img {
    width: 150px;
    height: 250px;
  }

  .numberPage {
    transform: translateX(125%);
    display: flex;
    align-content: center;
  }

  .card {
    margin-top: 2rem;
  }
}


