/* Le reset en premier pour nonifier border,padding et les list-type*/
@import url(./common/reset.css);
/* Un Normalize importé d'un github : "@import url(reset.css);" pour assurer le fonctionnement sur un maximum de navigateurs */
@import url(./common/normalize.css);
/* Importation des polices */
@import url(./common/font.css);
/* importation du style header */
@import url(./common/headerStyle.css);
/*importation du style footer */
@import url(./common/footerStyle.css);

:root{
    --main_vert:#B5D0B4;
    --hover_vert:#9ae697;
    --main_bleu:#BDBBE2;
    --hover_bleu:#68a8e4;
}

main{
    width: 100%;
    height: 100%;
}


/* Lignes animation tirage de carte */

#tirage{
    width: auto;
    height: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10% 0%;
}

#deck{ /* prévoir la place nécessaire aux placements absolute des cartes pour l'animation */
    width: 70%;
    height: 50%;
    margin: 10% 25%;
}

#deck .empty_card{
    position: relative;
}

/* Il fut difficile de positionner les cartes en gardant une proportion correct à l'aide des positions absolute / relative, d'ou la fonction calc et le media query pour retravailler les valeurs */

.card-1, .card-2, .card-3, .center, .left, .right{
    position: absolute;
}

.center{
    top: calc(140px + 0.5vw);
    z-index: 99;
}

.left{
    top: calc(150px + 0.5vw);
    right: 67%;
    transform: rotate(-37deg);
}
/* background: linear-gradient(rgba(189,187,226, 1),rgb(140, 137, 182, 0.3) 80%); Pour les cartes transparentes*/
.right{
    top: calc(150px + 0.5vw);
    left: 33%;
    transform: rotate(30deg);
}

@media screen and (min-device-width: 1024px) {
    .center{
        top: calc(175px + 1.5vw);
        z-index: 99;
    }
    
    .left{
        top: calc(200px + 1.5vw);
        right: 67%;
    }
    
    .right{
        top: calc(200px + 1.5vw);
        left: 33%;
    }
}


/* Lignes de Design */



#div_reponse{
    width: 25%;
    margin: -15% 0 0 21%;  /*Centrer le bloc réponse par rapport au deck */
    display: flex;
    flex-direction: column;
}

.card-1, .card-2, .card-3, .empty_card, .center, .left, .right{
    border: 1px solid #F4F442;
    width: 18vw;
    height: 24vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    background-color: var(--main_bleu);
    align-content: center;
    border-radius: 25px;
}

#insideBorder{
    width: 80%;
    height: 80%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    border-radius: 10%;
}

#logo{
    border-top: 1px solid #F4F442; ;
    border-bottom: 1px solid #F4F442; ;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    padding-top: 0.5vw;
    margin-bottom: 3vw;
}

.empty_card #logo{
    margin-bottom: -9vw;
}

#logo img{
    max-width: 100%;
    max-height: 100%;
}

#tirage h1{
text-align: center;
}

#question{
    color: black;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.5vw;
    text-align: center;
}

.center{
    background: linear-gradient(rgba(189,187,226, 1),rgb(140, 137, 182, 0.6) 80%)

}
.left, .right{
    background: linear-gradient(rgba(189,187,226, 1),rgb(140, 137, 182, 0.3) 80%)
}